
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/reservation/static/reservation_app/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>System rezerwacji sal</title>
</head>
<body>
<div id="container">
    <div id="header">
        <div class="topnav">
                <a class="active"  href="index.html">Lista sal</a>
                <a href="add_class.html">Dodaj salę</a>
        </div>
    </div>
    <div id="middle">

    </div>

    <div id="footer">
        <footer>
            Autor: <address>Karol Janus <a href="mailto:karol.janus@gmail.com">(karol.janus@gmail.com)</a></address>
        </footer>
    </div>

</div>
</body>
</html>


